{% extends 'base.html' %}
{% load static %}



{% block content %}




<button id="record" class="btn btn-dark " id="show-form-btn" onclick="show_form()">Запись online</button>

<div class="table_form form-container" >
    <span class="close-btn" onclick="remove_form()">&times;</span>
    <div>
        <div class="container">
            <div class="row">
                <div class="col" style="background-color: #ffffff; ">
                 <form action="{% url 'main_index' %}" method="post">
                    <div class="form-group"  >
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Забронировать</button>
                        <a href="{% url 'check_free_table' %}">Посмотреть занятость столов</a>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
        <div id="message">

</div>
    <div class="row">

                <div>
                    <div class="form-group">
                        <p>
                            <label for="date">Дата заказа:</label>
                            <input type="date" class="form-control" id="date">
                        </p>
                        <p>
                            <label for="table">Стол:</label>
                            <select class="form-control" id="table">
                                <option value="" selected="">---------</option>
                                    {% for table in tables %}
                                        <option value="{{table.pk}}">{{table}}</option>
                                    {% endfor %}
                            </select>
                        </p>

                        <button type="submit" class="btn btn-primary" onclick="get_seans()">Поиск</button>

                    </div>
                </div>
        <div class="col" style="background-color: #ffffff; ">
            <table class="table" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Время начала</th>
      <th scope="col">Время окончания</th>

    </tr>
  </thead>
  <tbody >
  {% for order in orders %}
    <tr>
        <td>{{ order.time }}</td>
        <td>{{ order.endtime }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>



        </div>
    </div>
</div>

{% endblock %}